.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    color: firebrick;
    font-size: 100px;
    border: 5px solid firebrick;
    border-radius: 8%;
    height: 150px;
    cursor: pointer;
    font-family: 'Single Day', cursive;
}