@media (max-width: 500px) {
    .header {
        padding-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .bus-wrap {
        width: 128px;
        height: 55px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .bus {
        max-width: 100%;
    }
    
    .heading {
        font-weight: 600;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        line-height: 30px;
        color: #31375B;
        margin-bottom: 15px;
    }

    .search {
        display: flex;
        justify-content: center;
    }

    .search-container {
        width: 78%;
        background-color: #f0f0f0; 
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 30px;
    }
    
    #searchInput {
        width: 100%;
        outline: none;
        padding: 5px;
        border: none;
        border-radius: 5px;
        font-weight: bold; 
        background-color: #f0f0f0; 
    }    

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        overflow-x: scroll;
        height: 400px;
        justify-content: center;
        width: 90%;
        margin-bottom: 40px;
    }
    
    .numbers {
        width: 86px;
        height: 86px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: firebrick;
        font-size: 40px;
        padding-top: 6px;
        border: 4px solid firebrick;
        border-radius: 8%;
        cursor: pointer;
        font-family: 'Josefin Sans', cursive;
    }

    .routes {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .next {
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
    }

    .button54{
        border-radius: 30px;
        background: #31375B;
        font-size: 16px;
        cursor: pointer;
        padding: 12px 60px 12px 60px;
        border: none;
        color: #fff;
    }
}